@media screen and (max-width: 1750px) { 
	.ft-thx-feature-content {
		top: 0;
	}
	.ft-thx-feature-section {
		padding: 80px 0px;
	}
}
@media screen and (max-width: 1650px) { 
	.ft-header-section.header-style-one .ft-header-cta-info {
		display: none !important;
	}
	.ft-contact-section:before {
		left: -30%;
	}
	.ft-portfolio-slider-innerbox .ft-portfolio-text h3 {
		font-size: 20px;
	}
	.ft-portfolio-slider-innerbox .ft-portfolio-text {
		left: 30px;
		max-width: 265px;
	}
	#rev_slider_29_1_wrapper .tparrows {
		display: none;
	}
	.ft-case-study-items .ft-case-study-text {
		left: 20px;
	}
	.ft-case-study-items .ft-case-study-text {
		max-width: 285px;
	}
	.ft-case-study-items .ft-case-study-text h3 {
		font-size: 24px;
	}
	.ft-case-study-items .more-btn {
		left: 20px;
	}
	.ft-why-choose-section-2 .why-choose-img-2 {
		right: -280px;
	}
	.pr-sx-about-exp {
		right: -40px;
	}
}
@media screen and (max-width: 1280px) {
	.ft-service-innerbox-3 .ft-service-text-icon:before {
		display: none;
	}
	.ft-service-innerbox-3 .ft-service-text-icon:after {
		display: none;
	}
	.ft-service-innerbox-3 .ft-service-icon {
		top: -50px;
	}
	.ft-service-innerbox-3 .ft-service-text-icon {
		padding: 59px 30px 75px;
	}
	.ft-why-choose-section-2 .why-choose-img-2 {
		display: none;
	}
	.ft-thx-project-slider-item .ft-thx-inner-text .read-more {
		width: 40px;
		right: 20px;
		height: 40px;
	}
	.ft-thx-project-slider-item .ft-thx-inner-text h3 {
		font-size: 20px;
	}
}
@media screen and (max-width: 1100px) {  
	.ft-booking-form-content {
		top: 0;
		margin-top: 60px;
		margin-bottom: 0;
	}
	.ft-section-title .sub-title {
		font-size: 16px;
		padding: 0px 35px;
	}
	.ft-section-title .sub-title:before,
	.ft-section-title .sub-title:after {
		top: 13px;
		height: 2px;
		width: 28px;
	}
	.ft-section-title h2 {
		font-size: 32px;
	}
	.ft-project-itembox .ft-project-text {
		left: 60px;
	}
	.ft-contact-section:before {
		left: -35%;
	}
	.ft-blog-news-feed-innerbox .ft-blog-feed-text h3 {
		font-size: 22px;
	}
	.ft-header-section.header-style-one .ft-main-navigation li {
		margin-left: 45px;
	}
	.ft-header-section.header-style-one .ft-header-menu-top-cta:before {
		border-right: 70px solid transparent;
	}
	.ft-header-section.header-style-two .ft-header-main-menu .ft-main-navigation li {
		margin-left: 40px;
	}
	.ft-testimonial-innerbox-item-2 {
		max-width: 550px;
	}
	.ft-why-choose-feature-list-item-2 .ft-why-choose-feature-text p {
		font-size: 14px;
	}
	.ft-header-section.header-style-three .ft-main-navigation li {
		margin-left: 40px;
	}
	.ft-header-section.header-style-three .ft-header-cta-btn a:before {
		left: -39px;
	}
	#slider-29-slide-76-layer-5,
	#slider-29-slide-78-layer-5,
	#slider-29-slide-77-layer-5 {
		display: none;
	}
	.ft-testimonial-slider-items-3 p {
		font-size: 18px;
	}
	.ft-footer-widget .gallery-widget li a {
		height: 75px;
		width: 75px;
	}
	.ft-blog-innerbox-3 .ft-blog-text:before {
		display: none;
	}
	.ft-blog-innerbox-3 .ft-blog-text {
		top: 0;
		width: 100%;
	}
	.blog-slider-3 {
		.slick-list {
			padding-bottom: 40px;
		}
	}
	.ft-header-section.header-style-three .ft-header-cta-btn a:before {
		display: none;
	}
	.ft-header-section.header-style-new-two .ft-header-main-menu .ft-main-navigation li {
		margin-left: 25px;
	}
	.ft-header-section.header-style-new-two .ft-header-main-menu .ft-site-logo {
		width: 180px;
	}
	.ft-header-section.header-style-new-two .ft-header-cta-btn a {
		height: 48px;
	}
	.td-sv-work-step-content .td-sv-ws-arrow1,
	.td-sv-work-step-content .td-sv-ws-arrow2 {
		top: 15%;
	}
	.td-sv-work-step-content .td-sv-ws-arrow1 {
		left: 270px;
	}
	.td-sv-work-step-content .td-sv-ws-arrow2 {
		right: 270px;
	}
	.td-sv-work-step-inner-item .td-sv-work-step-text h3 {
		font-size: 20px;
	}
	.ft-thx-header-section .header-navigation-content li {
		margin-left: 40px;
	}
	.ft-thx-banner-section-3 .ft-thx-banner-img3 {
		right: -400px;
	}
}
@media screen and (max-width: 1024px) {  
	.ft-header-section.header-style-one .ft-header-menu-top-cta:before {
		display: none;
	}
	.ft-header-section.header-style-one .ft-header-content {
		padding-left: 265px;
	}
	.ft-header-section.header-style-one .ft-main-navigation li {
		margin-left: 30px;
	}
	.ft-booking-form-content .booking-form-input-wrapper button {
		margin-top: 20px;
	}
	.ft-service-slider-item {
		margin: 0 auto;
		max-width: 270px;
	}
	.ft-counterup-innerbox .ft-counterup-text h3 {
		font-size: 30px;
	}
	.ft-project-itembox .ft-project-text {
		left: 100px;
	}
	.ft-header-section.header-style-two .ft-header-cta-btn {
		margin-left: 15px;
	}
	.ft-header-section.header-style-two .ft-header-main-menu .ft-main-navigation li {
		margin-left: 25px;
	}
	.ft-product-mesurment-content .ft-pm-bg-img {
		right: -80px;
	}
	.ft-blog-innerbox-2 .ft-blog-text-2 h3 {
		font-size: 22px;
	}
	.ft-footer-section-2 .ft-footer-newslatter-content h2 {
		padding-bottom: 20px;
	}
	.ft-header-section.header-style-three .ft-main-navigation li {
		margin-left: 30px;
	}
	.ft-case-study-items {
		width: 50%;
	}
	.ft-case-study-content {
		flex-wrap: wrap;
	}
	.ft-about-sign-img-text {
		right: -10px;
		bottom: -40px;
	}
	.ft-blog-section-3 {
		overflow: hidden;
	}
	.ft-section-title-3 h2 {
		font-size: 36px;
	}
	.ft-testimonial-slider-area-3 {
		width: 670px;
		padding: 35px 45px 30px 30px;
	}
	.ft-blog-innerbox-3 .ft-blog-text h3 {
		font-size: 18px;
	}
	.ft-header-section.header-style-new-two .ft-header-main-menu .ft-main-navigation li {
		margin-left: 20px;
	}
	.pr-cor-about-feature-list .pr-cor-about-ft-text {
		max-width: 355px;
	}
	.pr-mark-navigation-menu .pr-main-navigation li {
		margin-left: 25px;
	}
	.pr-sx-funfact-innerbox .pr-sx-funfact-text h3 {
		font-size: 50px;
	}
	.ft-thx-header-section .pr-header-info-item {
		margin-right: 20px;
		padding-right: 15px;
	}
	.ft-thx-header-section .pr-header-info-item:after {
		display: none;
	}
	.ft-thx-header-section .brand-logo {
		flex-grow: 0;
		margin-right: 60px;
		a {
			width: 150px;
			display: block;
		}
	}
	.ft-thx-section-title-3 h2 {
		font-size: 40px;
	}
	.ft-thx-about-list-item-3 .ft-thx-inner-text {
		max-width: 360px;
	}
	.pr-sx-service-innerbox .pr-sx-service-item-text h3 {
		font-size: 18px;
	}
	.pr-sx-service-innerbox {
		padding-left: 15px;
		padding-right: 15px;
	}
}
@media screen and (max-width: 991px) {  
	.ft-header-section.header-style-one .ft-header-top {
		display: none;	
	}
	.ft-main-navigation {
		display: none;
	}
	.ft-header-section.header-style-one .ft-header-cta-btn {
		margin-right: 40px;
	}
	.ft-about-img-exp {
		margin: 0 auto;
		max-width: 570px;
		margin-bottom: 60px;
	}
	.ft-about-text-wrapper {
		margin: 0 auto;
		max-width: 570px
	}
	.ft-service-text-area {
		margin: 0 auto;
		max-width: 570px;
		margin-bottom: 	30px;
	}
	.ft-service-text-area .ft-btn {
		margin-top: 0;
	}
	.ft-counterup-innerbox {
		margin-bottom: 	30px;
	}
	.ft-why-choose-text-area {
		margin: 0 auto;
		max-width: 	670px;
	}
	.ft-why-choose-section:before {
		width: 76.7%;
	}
	.ft-team-inner-itembox {
		margin: 0 auto;
		max-width: 	270px;
		margin-bottom: 	30px;
	}
	.ft-blog-news-feed-innerbox {
		margin: 0 auto;
		max-width: 	570px;
		margin-bottom: 	40px;
	}
	.ft-footer-widget {
		margin-bottom: 	30px;
	}
	.ft-booking-form-content .booking-form-input-wrapper label {
		max-width: 	100%;
		margin-bottom: 	30px;
	}
	.ft-booking-form-content .booking-form-input-wrapper button {
		margin-top: 0;
	}
	.ft-why-choose-section:before {
		width: 	100%;
	}
	.slick-current.slick-center .ft-project-itembox {
		margin-left: 0;
	}
	.slick-current.slick-center .ft-project-itembox .ft-project-text {
		left: 115px;
	}
	.ft-contact-section:before {
		width: 	100%;
	}
	.ft-contact-section:before {
		left: -50%;
	}
	.mobile_menu_button {
		top: -55px;
		display: block;
	}
	.ft-header-section.header-style-one .ft-header-main-menu {
		background-color: transparent;
	}
	.ft-header-section.header-style-two .ft-header-cta-btn {
		margin-right: 40px;
	}
	.ft-header-section.header-style-two .mobile_menu_button {
		top: -55px;
	}
	.ft-featured-innerbox {
		margin-bottom: 30px;
	}
	.ft-product-mesurment-content .ft-pm-bg-img {
		display: none;
	}
	.ft-about-text-wrapper-2,
	.ft-about-img-2-wrapper {
		margin: 0 auto;
		max-width: 570px;
		padding-bottom: 30px;
	}
	.ft-about-img-2-wrapper {
		padding-bottom: 0;
	}
	.ft-testimonial-innerbox-item-2 {
		max-width: 430px;
	}
	.ft-side-bar-wrapper {
		margin-top: 40px;
	}
	.ft-project-overview-comment-wrapper {
		margin-left: 0;
	}
	.ft-project-overview-comment-wrapper {
		padding: 30px 15px;
	}
	.ft-header-section.header-style-three .ft-header-top,
	.ft-header-section.header-style-new-two .ft-header-top {
		display: none !important;
	}
	.ft-header-section.header-style-three .ft-header-cta-btn a {
		padding: 15px 20px;
	}
	.ft-header-section.header-style-three {
		top: 15px;
	}
	.ft-header-section.header-style-three .ft-header-cta-btn {
		margin-left: 0;
		margin-right: 40px;
	}
	.ft-header-section.header-style-three {
		.mobile_menu_button {
			top: -42px;
		}
	}
	.ft-header-section.sticky-on.header-style-three {
		top: 0;
		.mobile_menu_button {
			top: -45px;
		}
	}
	.ft-service-innerbox-3 {
		margin: 0 auto;
		max-width: 370px;
		margin-bottom: 30px;
	}
	.ft-about-img-wrapper-3,
	.ft-about-text-3,
	.ft-why-choose-section-2 .ft-why-choose-text-2 {
		margin: 0 auto;
		max-width: 570px;
	}
	.ft-about-text-3 {
		padding-top: 50px;
	}
	.ft-case-study-items .ft-case-study-img {
		img {
			width: 100%;
		}
	}
	.ft-funfact-inner-items {
		margin: 20px 0px;
	}
	.ft-why-choose-form {
		margin: 0 auto;
		margin-top: 40px;
	}
	.ft-footer-content-wrap-3 .ft-footer-widget .widget-title {
		margin-bottom: 0;
	}
	.ft-footer-content-wrap-3 .ft-footer-widget .ft-footer-info-widget ul {
		padding-top: 0;
	}
	.ft-footer-content-wrap-3 .ft-footer-widget .ft-footer-newslatter-widget form {
		margin-top: 10px;
	}
	.ft-footer-content-wrap-3 .ft-footer-copyright {
		margin-top: 30px;
	}
	.ft-header-section.sticky-on.header-style-three .ft-header-cta-btn a {
		padding: 15px 20px;
	}
	.top-stikcy {
		position: static;
	}
	.ft-thx-feature-innerbox {
		margin-bottom: 30px;
	}
	.pr-cor-about-text-wrap {
		margin:  0 auto;
		max-width: 570px;
		margin-bottom: 35px;
	}
	.pr-cor-about-img-wrap {
		margin: 0 auto;
		max-width: 570px;
		text-align: center;
	}
	.pr-cor-about-img-wrap .pr-cor-about-img-area2 {
		position: static !important;
		margin-top: 30px;
	}
	.pr-cor-service-innerbox {
		margin: 0 auto;
		max-width: 270px;
		margin-bottom: 30px;
	}
	.pr-cor-fun-fact-innerbox {
		margin-bottom: 30px;
	}
	.td-sv-work-step-content .td-sv-ws-arrow1, .td-sv-work-step-content .td-sv-ws-arrow2 {
		display: none;
	}
	.ft-header-section.header-style-new-two .ft-header-cta-btn {
		margin-right: 40px;
	}
	.ft-header-section.header-style-new-two {
		.mobile_menu_button {
			top: -50px;
		}
	}
	.ft-thx-slider-section {
		padding-top: 60px;
	}
	.pr-main-navigation {
		display: none;
	}
	.pr-mark-main-navigation-wrapper {
		max-width: 100%;
	}
	.pr-mark-header-top {
		display: none !important;
	}
	.pr-mark-main-header {
		background-color: #002a34;
		.mobile_menu_button {
			top: -60px;
		}
	}
	.pr-mark-main-navigation-wrapper {
		padding: 15px 0px;
	}
	.pr-mark-navigation-menu .pr-mark-btn {
		margin-left: 20px;
		margin-right: 40px;
	}
	.ft-thx-banner-courier-form {
		max-width: 100%;
		margin-top: 50px;
	}
	.ft-thx-banner-section {
		padding: 150px 0px 100px;
	}
	.pr-sx-about-text-area {
		margin: 0 auto;
		max-width: 570px;
		margin-bottom: 40px;
	}
	.pr-sx-about-exp-wrapper,
	.ft-thx-faq-text {
		margin: 0 auto;
		max-width: 570px;
	}
	.pr-sx-funfact-innerbox {
		margin-bottom: 80px;
	}
	.pr-sx-funfact-section {
		padding-bottom: 0;
	}
	.pr-sv-team-innerbox {
		margin-bottom: 120px;
	}
	.pr-sv-team-content .ft-thx-btn {
		margin-top: 0;
	}
	.ft-thx-faq-img {
		text-align: center;
		margin-bottom: 40px;
	}
	.pr-sx-blog-innerbox {
		margin-bottom: 40px;
	}
	.pr-sv-footer-widget .widget-title {
		padding-bottom: 25px
	}
	.pr-sv-footer-widget {
		margin-bottom: 30px;
	}
	.header-cta-content {
		display: none;
	}
	.ft-thx-header-section .header-top-content {
		display: none !important;
	}
	.mobile_logo {
		display: block;
	}
	.ft-thx-header-section .header-navigation-content {
		justify-content: end;
	}
	.ft-thx-header-section {
		background-color: $base-color-3;
		.mobile_menu_button {
			top: -58px;
			right: 15px;
		}
	}
	.ft-thx-header-section .header-navigation-content .pr-h-cta-btn {
		margin-left: 30px;
		margin-right: 30px;
	}
	.ft-thx-banner-section-3 .ft-thx-banner-img3 {
		display: none;
	}
	.ft-thx-banner-section-3 .ft-thx-banner-text3 {
		margin: 0 auto;
		text-align: center;
	}
	.ft-thx-slider-btn-2 {
		justify-content: center;
	}
	.ft-thx-about-img-3 {
		margin: 0 auto;
		max-width: 570px;
		margin-bottom: 30px;
	}
	.ft-thx-about-text-3,
	.ft-thx-why-choose-img-3 {
		margin: 0 auto;
		max-width: 570px;
	}
	.ft-thx-help-item {
		margin-bottom: 30px;
	}
	.pr-sx-service-innerbox {
		margin-bottom: 90px;
	}
	.ft-thx-service-section-3 .ft-thx-btn-2 {
		margin-top: 0px;
	}
	.ft-thx-why-choose-item-box {
		margin-bottom: 30px;
	}
	.pr-sx-team-slider-for {
		margin: 0 auto;
		max-width: 570px;
		padding-top: 40px;
	}
	.gl-testimonial-text-wrapper-3 {
		padding-top: 0;
	}
	.gl-testimonial-slider-3 {
		margin-top: 60px;
	}
} 
@media screen and (max-width: 820px) { 
	.ft-header-section.header-style-two .ft-header-top {
		display: none;
	}
	.ft-banner-text-content h1 {
		font-size: 65px;
	}
	.ft-banner-section {
		padding: 250px 0px 200px;
	}
	.ft-testimonial-slider-2 #btn_prev1 {
		left: 40px;
	}
	.ft-testimonial-slider-2 #btn_next1 {
		right: 40px;
	}
	.ft-faq-page-top-content .ft-section-title-2 h2 {
		padding-bottom: 20px;
	}
	.ft-testimonial-slider-wrapper-3 {
		flex-wrap: wrap;
	}
	.ft-testimonial-slider-wrapper-3 .ft-testimonial-slider-img {
		display: none;
	}
	.ft-testimonial-section-3 {
		top: 0;
		margin-bottom: 0;
	}
	.ft-why-choose-section-2 {
		padding-bottom: 60px;
	}
}
@media screen and (max-width: 680px) { 
	.ft-team-text-area {
		margin-bottom: 30px;
	}
	.ft-project-section .ft-section-title {
		padding-bottom: 20px;
	}
	.ft-project-itembox .ft-project-text {
		max-width: 100%;
		position: static;
		transform: translateY(0);
	}
	.ft-contact-section:before {
		left: 0;
		opacity: .7;
		transform: rotate(0);
	}
	.ft-blog-section .ft-section-title {
		padding-bottom: 20px;
	}
	.ft-footer-widget .logo-widget p {
		padding-bottom: 15px;
	}
	.ft-banner-text-content h1 {
		font-size: 55px;
	}
	.ft-header-section.header-style-two .ft-header-main-menu .ft-site-logo {
		width: 145px;
	}
	.ft-team-details-content {
		padding: 0px 15px;
	}
	.ft-team-details-content .ft-team-details-text-wrapper {
		z-index: 2;
		position: relative;
		padding: 0px 0px 30px;
	}
	.ft-team-personal .title {
		font-size: 28px;
	}
	.ft-testimonial-slider-area-3 {
		width: 100%;
	}
	.ft-newslatter-content-3 {
		flex-wrap: wrap;
	}
	.ft-newslatter-btn {
		margin-top: 15px;
	}
	.ft-footer-content-wrap-3 .ft-footer-widget .ft-footer-info-widget {
		padding-left: 0;
	}
	.ft-header-section.header-style-new-two .ft-header-cta-btn {
		display: none;
	}
	.ft-header-section.header-style-new-two .ft-header-main-menu .ft-site-logo {
		width: 135px;
	}
	.ft-thx-slider-section {
		padding-top: 45px;
	}
	.pr-sv-testimonial-item .pr-sv-testimonial-img {
		display: none;
	}
	.pr-sv-testimonial-item .pr-sv-testimonial-text {
		padding: 60px 40px;
	}
	.pr-sx-about-exp {
		right: 0;
	}
}
@media screen and (max-width: 480px) { 
	.ft-header-section.header-style-one .ft-brand-logo {
		width: 140px;
	}
	.ft-header-section.header-style-one .ft-header-content,
	.ft-header-section.header-style-one.sticky-on .ft-header-content {
		padding-left: 155px;
	}
	.ft-header-section.header-style-one .ft-header-cta-btn {
		margin-left: 0;
		margin-right: 40px;
	}
	.ft-header-section.header-style-one .ft-header-cta-btn a {
		height: 45px;
		width: 130px;
	}
	.ft-booking-form-content .booking-form-input-wrapper label {
		margin-right: 0;
	}
	.ft-booking-form-content .booking-form-input-wrapper button {
		height: 50px;
		width: 185px;
	}
	.ft-about-section {
		padding: 50px 0px;
	}
	.ft-section-title h2 {
		font-size: 26px;
		padding-bottom: 10px;
	}
	.ft-btn a {
		height: 50px;
		width: 150px;
	}
	.ft-service-section {
		padding: 50px 0px;
	}
	.ft-counterup-section {
		padding: 20px 0px 60px;
	}
	.ft-why-choose-text-area .ft-section-title {
		padding-left: 0;
	}
	.ft-why-choose-feature-wrapper {
		padding-left: 0;
	}
	.ft-why-choose-feature-item .ft-why-choose-feature-text {
		max-width: 250px;
	}
	.ft-why-choose-feature-item .ft-why-choose-feature-text h3 {
		font-size: 18px;
	}
	.ft-why-choose-feature-item .ft-why-choose-feature-icon {
		height: 70px;
		width: 70px;
	}
	.ft-why-choose-feature-item .ft-why-choose-feature-icon:before {
		width: 50px;
		height: 50px;
	}
	.ft-why-choose-feature-item .ft-why-choose-feature-icon i {
		font-size: 30px;
	}
	.ft-team-section {
		padding: 0px 0px 60px;
	}
	.ft-why-choose-section {
		padding-bottom: 30px;
	}
	.ft-project-slider-area {
		margin: 0;
	}
	.ft-project-itembox {
		max-width: 310px;
	}
	.slick-current.slick-center .ft-project-itembox .ft-project-text {
		left: 0;
	}
	.slick-current.slick-center .ft-project-itembox {
		padding-left: 0;
	}
	.ft-project-itembox .ft-project-text {
		left: 0;
		opacity: 1;
	}
	.ft-project-itembox .ft-project-text h3 {
		font-size: 18px;
	}
	.ft-blog-news-feed-innerbox .ft-blog-feed-text .ft-blog-comment-view a {
		margin-left: 0;
		margin-right: 10px;
	}
	.ft-blog-feed-wrapper-2 .ft-blog-news-feed-innerbox {
		flex-wrap: wrap;
	}
	.ft-blog-feed-wrapper-2 .ft-blog-news-feed-innerbox .ft-blog-feed-img {
		margin-bottom: 25px;
	}
	.ft-testimonial-section {
		padding: 60px 0px;
	}
	.ft-project-section {
		padding-top: 60px;
	}
	.ft-contact-section,
	.ft-blog-section {
		padding: 60px 0px;
	}
	.ft-footer-section {
		padding: 60px 0px;
	}
	.ft-footer-widget-wrapper {
		padding-bottom: 50px;
	}
	.ft-header-section.header-style-two .ft-header-cta-btn {
		display: none;
	}
	.ft-header-section.header-style-two .mobile_menu_button {
		top: -48px;
	}
	.ft-banner-text-content h1 {
		font-size: 36px;
	}
	.ft-banner-text-content p {
		font-size: 18px;
	}
	.ft-banner-section {
		padding: 190px 0px 150px;
	}
	.ft-section-title-2 h2 {
		font-size: 28px;
	}
	.ft-featured-section {
		padding: 50px 0px;
	}
	.ft-featured-content,
	.ft-service-content-2 {
		padding-top: 15px;
	}
	.ft-featured-innerbox .ft-featured-text h3 {
		font-size: 20px;
	}
	.ft-featured-innerbox .ft-featured-icon i {
		font-size: 40px;
	}
	.ft-featured-innerbox .ft-featured-icon {
		margin-bottom: 10px;
	}
	.ft-featured-innerbox .ft-featured-text h3 {
		padding-bottom: 10px;
	}
	.ft-product-mesurment-tab-btn .nav {
		justify-content: center;
	}
	.ft-service-section-2 {
		padding: 50px 0px;
	}
	.ft-about-section-2,
	.ft-portfolio-section-2 {
		padding: 50px 0px;
	}
	.ft-experience-section {
		padding-bottom: 50px;
	}
	.ft-faq-content .accordion-button::after {
		font-size: 16px;
		right: 5px;
	}
	.ft-faq-why-choose-us-section {
		padding-bottom: 30px;
	}
	.ft-blog-section-2 {
		padding: 50px 0px;
	}
	.ft-footer-section-2 .ft-footer-newslatter-content h2 {
		font-size: 20px;
	}
	.ft-footer-section-2 .ft-footer-newslatter-content {
		padding: 20px 30px;
		border-radius: 0px;
	}
	.ft-footer-section-2 .ft-footer-newslatter-form button {
		height: 50px;
		width: 120px;
		font-size: 14px;
	}
	.ft-footer-section-2 .ft-footer-newslatter-form input {
		height: 50px;
	}
	.ft-footer-section-2 .ft-footer-newslatter {
		margin-bottom: -75px;
	}
	.ft-footer-widget-wrapper-2 {
		padding-bottom: 30px;
	}
	.ft-footer-widget-wrapper-2 .ft-footer-widget .logo-widget .site-logo {
		padding-bottom: 20px;
	}
	.ft-banner-text-content .ft-banner-btn-wrapper .ft-banner-btn {
		margin-right: 10px;
	}
	.ft-banner-text-content .ft-banner-btn-wrapper .ft-banner-btn a {
		height: 45px;
		width: 135px;
	}
	.ft-banner-text-content .ft-banner-btn-wrapper .ft-banner-video-btn a i {
		margin-right: 5px;
	}
	.ft-breadcrumb-section {
		padding: 170px 0px 100px;
	}
	.ft-funfact-innerbox {
		margin-bottom: 30px;
	}
	.ft-funfact-innerbox .ft-funfact-text h3 {
		font-size: 35px;
	}
	.ft-funfact-innerbox .ft-funfact-icon i {
		font-size: 35px;
	}
	.ft-footer-widget-wrapper-2 .ft-footer-widget .widget-title {
		padding-bottom: 15px;
	}
	.ft-footer-widget .menu-widget li {
		margin-bottom: 10px;
	}
	.page-padding {
		padding: 50px 0px;
	}
	.blog-details-img-text-wrapper .ftd-blog-meta-2 a {
		margin-right: 10px;
	}
	.blog-details-img-text-wrapper .ft-blog-details-item {
		padding: 20px 15px;
	}
	.blog-details-img-text-wrapper .blog-details-text h3 {
		font-size: 20px;
	}
	.blog-details-img-text-wrapper .blog-details-img-video .blog-details-img {
		margin-bottom: 30px;
	}
	.blog-details-img-text-wrapper .ft-blog-tag-share .ft-blog-tag a {
		margin-bottom: 10px;
	}
	.ft-blog-share {
		float: none;
	}
	.blog-details-img-text-wrapper .ft-blog-tag-share .ft-blog-share a {
		margin-left: 0;
		margin-right: 5px;
	}
	.ft-blog-comment-block .ft-blog-comment-text .ftd-reply-btn {
		position: static;
		margin-top: 15px;
		display: inline-block;
	}
	.ftd-comment-input-wrap {
		flex-wrap: wrap;
	}
	.ftd-blog-comment-form .ftd-comment-form-input input, 
	.ftd-blog-comment-form .ftd-comment-form-input textarea {
		width: 100%;
		margin-bottom: 15px;
	}
	.ftd-blog-comment-form {
		padding: 35px 15px;
	}
	.ftd-blog-comment-form .ftd-comment-form-input span {
		display: flex;
	}
	.ft-blog-post-feed-innerbox .ft-blog-post-feed-text-wrapper .blog-meta {
		padding: 15px 15px;
	}
	.ft-blog-post-feed-innerbox .ft-blog-post-feed-text-wrapper {
		padding: 30px 15px;
	}
	.ft-blog-post-feed-innerbox .ft-blog-post-feed-text-wrapper .blog-meta a:after {
		display: none;
	}
	.ft-blog-post-feed-innerbox .ft-blog-post-feed-text-wrapper .ft-blog-feed-title-text h3 {
		font-size: 20px;
	}
	.coming-soon-content {
		padding: 200px 0px 150px;
	}
	.coming-soon-content h2 {
		font-size: 34px;
	}
	.coming-soon-countdown li {
		margin-bottom: 20px;
	}
	.coming-soon-countdown {
		text-align: center;
	}
	.ft-btn-3 a {
		height: 40px;
		width: 150px;
	}
	.ft-project-overview-comment-wrapper .ft-project-overview-comment-text {
		width: 200px;
	}
	.ft-similar-work-content {
		.ft-portfolio-slider-innerbox {
			margin-bottom: 30px;
		}
	}
	.ft-project-details-img {
		margin-bottom: 40px;
	}
	.ft-header-section.header-style-three {
		position: static;
		padding: 10px 0px;
		background-color: #000;
	}
	.ft-header-section.header-style-three .ft-header-cta-btn a {
		font-size: 14px;
		font-weight: 500;
		padding: 10px 15px;
	}
	.ft-header-section.header-style-three .mobile_menu_button {
		top: -40px;
	}
	.ft-header-section.header-style-three .ft-header-cta-btn {
		margin-right: 30px;
	}
	.ft-header-section.header-style-three {
		.ft-brand-logo {
			width: 130px;
		}
	}
	.ft-header-section.sticky-on.header-style-three {
		position: fixed;
	}
	.ft-header-section.sticky-on.header-style-three .ft-header-cta-btn a {
		padding: 10px 15px;
	}
	.ft-header-section.sticky-on.header-style-three .mobile_menu_button {
		top: -38px;
	}
	#slider-29-slide-76-layer-5,
	#slider-29-slide-78-layer-5,
	#slider-29-slide-77-layer-5 {
		display: block;
	}
	.ft-service-section-3 {
		padding-top: 50px;
		padding-bottom: 50px;
	}
	.ft-section-title-3 h2 {
		font-size: 26px;
		padding-top: 5px;
	}
	.ft-service-content-3 {
		padding-top: 30px;
	}
	.ft-section-title-3 span {
		font-size: 16px;
	}
	.ft-service-innerbox-3 .ft-service-text h3 {
		font-size: 18px;
	}
	.ft-service-innerbox-3 .ft-service-text-icon {
		padding: 50px 20px 60px;
	}
	.ft-service-more-btn {
		margin-top: 10px;
		text-align: center;
	}
	.ft-service-more-btn a {
		margin-left: 0;
		margin-top: 10px;
	}
	.ft-about-section-3,
	.ft-funfact-section-2 {
		padding: 60px 0px
	}
	.ft-about-sign-img-text {
		width: 110px;
	}
	.ft-about-text-3 .ft-about-btn-group a {
		i {
			display: none;
		}
	}
	.ft-about-text-3 .ft-about-btn-group a {
		padding: 10px 15px;
	}
	.ft-case-study-items {
		width: 100%;
		border-right: 0; 
	}
	.ft-funfact-inner-items-wrapper:before {
		display: none;
	}
	.ft-funfact-content-2 {
		padding-top: 30px;
	}
	.ft-funfact-inner-items .ft-funfact-inner-text h3 {
		font-size: 24px;
	}
	.ft-funfact-inner-items .ft-funfact-inner-icon {
		margin-bottom: 20px;
	}
	.ft-why-choose-section-2 {
		padding-top: 60px;
	}
	.ft-why-choose-section-2 .ft-why-choose-text-2 {
		padding-top: 0px;
	}
	.ft-why-choose-form-wrapper {
		padding-left: 0;
	}
	.ft-testimonial-slider-items-3:before {
		display: none;
	}
	.ft-testimonial-slider-items-3 {
		padding-left: 0;
	}
	.ft-blog-section-3 {
		padding: 60px 0px;
	}
	.ft-blog-content-3 {
		padding-top: 30px;
	}
	.ft-footer-section-3 .ft-newslatter-section-3 .ft-newslatter-btn a {
		width: 150px;
	}
	.ft-footer-section-3 .ft-newslatter-section-3 .ft-newslatter-text h3 {
		font-size: 24px;
	}
	.ft-testimonial-slider-3 .slick-dots {
		position: static;
		margin-top: 20px;
		transform: translateY(0);
		li {
			display: inline-block;
		}
	}
	.ft-contact-cta-items .ft-contact-cta-text {
		max-width: 220px;
	}
	.ft-thx-feature-section {
		padding: 60px 0px 30px;
	}
	.pr-cor-section-title h2 {
		font-size: 26px;
		padding: 15px 0px;
	}
	.pr-cor-section-title span {
		font-size: 18px;
	}
	.pr-cor-about-feature-list .pr-cor-about-ft-text {
		max-width: 240px;
	}
	.pr-cor-about-feature-area {
		padding-bottom: 10px;
	}
	.ft-thx-about-section {
		padding-bottom: 60px;
	}
	.ft-thx-why-choose-us-section,
	.ft-thx-work-process-section,
	.ft-thx-project-section,
	.ft-thx-testimonial-section,
	.pr-cor-blog-section {
		padding: 60px 0px;
	}
	.ft-thx-project-top {
		flex-wrap: wrap;
		.pr-cor-section-title {
			padding-bottom: 20px
		}
	}
	.port_left_arrow, .port_right_arrow {
		margin-left: 0;
		margin-right: 10px;
	}
	.ft-thx-banner-text h1 {
		font-size: 40px;
	}
	.ft-thx-banner-text {
		padding-top: 50;
	}
	.pr-mark-navigation-menu .pr-mark-btn a {
		width: 115px;
	}
	.pr-mark-main-navigation-wrapper .pr-mark-brand-logo {
		width: 120px;
		padding-top: 12px
	}
	.pr-sx-secion-title h2,
	.pr-sx-video-section .pr-sx-video-content h3 {
		font-size: 30px;
	}
	.pr-sx-secion-title h2 {
		padding: 10px 0px;
	}
	.pr-sx-about-section-2 {
		padding: 60px 0px;
	}
	.pr-sv-service-section {
		padding: 60px 0px;
	}
	.pr-sx-video-section {
		padding: 60px 0px;
	}
	.pr-sv-team-section {
		padding: 60px 0px;
	}
	.pr-sv-case-study-section {
		padding: 60px 0px 40px;
	}
	.ft-thx-testimonial-section-2 {
		padding: 60px 0px;
	}
	.ft-thx-faq-text .accordion-header button {
		font-size: 16px;
		padding: 10px 30px;
		padding-left: 10px;
	}
	.pr-sx-blog-top-content {
		flex-wrap: wrap;
	}
	.ft-thx-btn a {
		height: 50px;
	}
	.pr-sx-blog-section .pr-sx-secion-title {
		padding-bottom: 10px
	}
	.pr-sx-blog-section {
		padding-bottom: 50px;
	}
	.pr-sv-footer-widget .pr-sv-menu-widget {
		padding-left: 0;
	}
	.ft-thx-faq-text {
		padding-left: 0;
	}
	.ft-thx-header-section .header-navigation-content .pr-h-cta-btn {
		display: none !important;
	}
	.ft-thx-header-section .header-navigation-content {
		padding: 30px 15px;
		.mobile_logo {
			top: 25px;
		}
	}
	.ft-thx-header-section .header-navigation-content .pr-h-search button {
		margin-right: 30px;
	}
	.ft-thx-banner-section-3 .ft-thx-banner-text3 h1 {
		font-size: 36px;
	}
	.ft-thx-banner-section-3 .ft-thx-banner-text3 {
		padding: 150px 0px;
	}
	.ft-thx-about-img-3 .ft-thx-ab-inner-img2 {
		right: 0;
	}
	.ft-thx-about-text-3 {
		padding-left: 0;
	}
	.ft-thx-section-title-3 h2 {
		font-size: 28px;
	}
	.ft-thx-about-list-item-3 .ft-thx-inner-text h3 {
		font-size: 18px;
	}
	.ft-thx-about-list-item-3 .ft-thx-inner-text {
		max-width: 250px;
	}
	.ft-thx-help-section,
	.pr-sx-team-section {
		padding: 60px 0px;
	}
	.ft-thx-project-top-content-3,
	.ft-thx-blog-top-content-3 {
		flex-wrap: wrap;
		.ft-thx-section-title-3 {
			width: 100%;
		}
	}
	.ft-thx-project-section-3,
	.pr-an-blog-section,
	.ft-thx-cta-section-3 {
		padding: 60px 0px;
	}
	.port_left_arrow3, .port_right_arrow3,.blg-an-left_arrow, .blg-an-right_arrow {
		height: 40px;
		width: 40px;
		margin-left: 0;
		margin-right: 10px;
	}
	.ft-thx-project-slider-item-3 .ft-thx-inner-text {
		padding: 30px;
		h3 {
			font-size: 20px;
		}
	}
	.pr-sx-team-section {
		overflow: hidden;
	}
	.pr-sx-team-nav-item-wrapper .slick-next {
		right: 0;
	}
	.pr-sx-team-nav-item-wrapper .slick-prev  {
		left: 0;
	}
	.pr-sx-team-member-innerbox .pr-sx-team-member-text {
		padding: 20px 20px 40px;
	}
	.gl-testimonial-section-3 {
		padding: 40px 0px 280px;
	}
	.gl-testimonial-innerbox-item-3 {
		padding: 64px 15px 24px;
	}
	.gl-testimonial-innerbox-item-3 .gl-testimonial-meta-rate .gl-testimonial-meta h3 {
		font-size: 18px;
	}
	.ft-thx-cta-content-3 h3 {
		font-size: 28px;
	}
	.ft-thx-btn-2 a {
		height: 50px;
		width: 150px;
	}
	.ft-thx-help-item {
		flex-wrap: wrap;
	}
	.ft-thx-help-item .ft-thx-help-img {
		margin-top: 30px;
	}
}
@media screen and (max-width: 380px) {  
	.ft-header-section.header-style-one .ft-header-content {
		height: 70px;
	}
	.ft-header-section.header-style-one .ft-header-cta-btn {
		display: none;
	}
	.ft-header-section.header-style-one .mobile_menu_button {
		top: -5px;
	}
	.ft-why-choose-feature-item .ft-why-choose-feature-text {
		max-width: 200px;
	}
	.ft-blog-post-feed-innerbox .ft-blog-post-feed-text-wrapper .blog-meta a {
		margin-right: 15px;
	}

}